@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@media(max-width:800px){


body{
    height:130vh;
    width: 100%;
}

header{
   height: 9vh;
   background: #C9A0F2;
border: 1px solid #711AC7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
width: 100%;
position: relative;
right: 2vw;
bottom: 1vh;
display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

#viajacia{
    height: 6vh;
    margin-left: 37vw;
}
footer{
  width: 100%;
  height: 7vh;
  background: #E2C7FD;
border: 1px solid #711AC7;
position: relative;
right: 1vw;
bottom: 28vh;


right: 2vw;
}

.footer{
  background: #E2C7FD;
  border: none;
  margin: 1.5vh;
  width: 12vw;
  height: 4vh;
}


.explor{
 
  color: #711AC7;
  font-family: 'Inter', sans-serif;
  font-size: 1.3vh;
  position: relative;
bottom: 3.3vh;
left: 0.5vw;



}
.explor1{
 
  color: #711AC7;
  font-family: 'Inter', sans-serif;
  font-size: 1.3vh;
  position: relative;
bottom: 3.3vh;
left: 0.5vw;

}
.explor2{
 
  color: #711AC7;
  font-family: 'Inter', sans-serif;
  font-size: 1.3vh;
  position: relative;
bottom: 3.3vh;
left: 1.5vw;

}
.icone{
  position: relative;
  bottom: 1.7vh;
  left: 1vw;

}
.icone1{
  position: relative;
bottom: 1vh;
left: 0.5vw;
}
.icone2{
  position: relative;
bottom: 1.7vh;
left: 2vw;
}

a{
  text-decoration: none;
}
.flex2{
text-align: center;

}
#perf{
  display: block;
text-align: center;
background: hsl(270, 93%, 89%, 0.4);
width: 100%;
position: relative;
right: 2vw;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#editar{
  
  font-size: 3vw;
  background: hsl(270, 93%, 89%, 0.8);

border: 1px solid #B76FFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;


  font-weight: 300;
  height: 3.1vh; 
  width: 20vw;
  font-family: 'Inter', sans-serif;
  font-size: 3vw;
    color: #5C18A0;  
    

margin-bottom: 3vh;
margin-top: 2vh;
  z-index: 4;
 
}
#editar2{
  
  font-size: 3vw;
  background: hsl(270, 93%, 89%, 0.8);

border: 1px solid #B76FFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;


  font-weight: 300;
  height: 3.1vh; 
  width: 20vw;
  font-family: 'Inter', sans-serif;
  font-size: 3vw;
    color: #5C18A0;  
    

margin-bottom: 3vh;
margin-top: 2vh;
  z-index: 4;
 position: relative;
 bottom: 30vh;
}
#imag{
  margin:2.5vh ;
}
#bio{
  font-family: 'Inter', sans-serif;
  font-size: 3.3vw;
    color: #5C18A0;  
    font-weight: 300;
    margin: 1vh;
}
#nome{
  font-family: 'Inter', sans-serif;
  font-size: 4.5vw;
    color: #5C18A0;  
    font-weight: 300;
    margin: 0;
}
#inf{
  margin-top: 3vh;
  margin-left: 5vw;
  margin-bottom: 1vh;
}

.informacoes{

margin-left: 5vw;



}
h6{
  font-family: 'Inter', sans-serif;
  font-size: 3.5vw;
  text-align: start;
 margin: 0;
    color: #5C18A0;  
    font-weight: 300;
    position: relative;
    top: 0.9vh;
    left: 2vw;
    
}
h4{
  font-family: 'Inter', sans-serif;
  font-size: 2.8vw;
  text-align:end;

    color: #5C18A0;  
    font-weight: 300;
    position: relative;
   bottom: 0.9vh;
right: 4vw;
    z-index: 5;
    margin: 0;
}
.pess{
 background: #F8F1FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
height: 3.7vh;
width: 86vw;
margin: 0.7vh;

}
#line{
  position: relative;
  bottom: 30.8vh;
  left: 1.5vw;
}
}